body{
    color: #000;
}
a{
    color: #ccc !important;
    font-weight: bold;
}
.nav-active {
    color: #fff !important;
    font-weight: bold;
}
.stypage {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #b1c2f517
}
.menu4 {
    padding: 10px 0;
    background-color: #007bff;
    position: relative;
    height: 45px;
    box-shadow: -1px -1px 6px 3px #8888884a
}
.menu4 .div-menu {
    width: 300px;
    float: right;
    position: relative;
}
.menu4 .div-menu a {
    margin: 10px;
}
.boxlist {
    margin: 30px 0 30px 0;
    box-shadow: -1px -1px 6px 3px #8888884a

}
.boxlist .headtext {
    background-color: #3c8dbc;
    padding: 10px 10px;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
}
.boxlist .body-content {
    background-color: #f9faff;
    padding: 20px 10px;
}
.header-text {
    font-size: 20px;
    font-weight: bold;
}
td{
    text-align-last: left !important;
    align-items: center;
}
td p{
    margin-bottom: 0;
    font-size: 13px;
    align-items: center;
    display: flex;
    padding: 6px 0;
    font-weight: 600;
}
.table-bordered > tbody > tr > td {
    border: 0px solid black;
}
.table{
    margin-bottom: 0rem !important;
}
.table-bordered {
    border: 0px solid #dee2e6 !important;
}
.table td, .table th {
    padding: 2 !important;
}

/* .form-control {
    height: calc(1.2em + 0.75rem + 2px) !important;
    padding: 0.375rem 0.3rem !important;
    font-size: 0.8rem !important;
} */

.table td, .table th {
    padding: 0.2rem !important;
  
}
/* .custom-select {
    height: calc(1.2em + 0.75rem + 2px)  !important;
    padding: -7.625rem 1.75rem .375rem .75rem;
} */