/* Header color form*/
.content-header {
  background: RGB(254, 208, 63) !important;
  padding: 1em !important;
}
/* .k-child-animation-container {
  margin: 0% 5% 0% 5%;
} */
.fix-position-absolute .css-df17o1 {
  position: absolute !important;
}
/* NPD */
/*1. Product detail*/
.divProductDetail > .k-form-field {
  margin-left: 5%;
}
/* Theme onselect div */
.divPanel {
  margin: 1%;
}
.k-panelbar > .k-item > .k-link.k-state-selected {
  border-color: #3c8dbc;
  background-color: #3c8dbc;
}
.k-panelbar > .k-item > .k-link.k-state-focused.k-state-selected {
  box-shadow: inset 0 0 0 3px #3c8dbc;
}
.k-panelbar .k-group > .k-item > .k-link.k-state-selected {
  border-color: #3c8dbc;
  background-color: #3c8dbc;
}
.k-panelbar .k-group > .k-item > .k-link.k-state-focused.k-state-selected {
  box-shadow: inset 0 0 0 3px #3c8dbc;
}
.k-animation-container.k-animation-container-relative {
  border: 1px solid rgb(221, 221, 221);
}
.k-item.k-state-default {
  border: 1px solid rgb(221, 221, 221);
}

/* End NPD */

/* Editor */
.table-bordered,
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid black;
}
.modal-backdrop {
  z-index: -1;
}
/* End Editor */

/*Start box*/
.box-yellow {
  border-top-color: #fdcf4eb5;
}
/*End box*/

/*Start form control*/
.form-control:focus {
  border-color: #3c8dbc;
  box-shadow: none;
}
/*End from control*/

/* Grid*/
th {
  text-align-last: center;
}
td {
  text-align-last: center;
}
/**/

/*STAR ACTIVTY ACTION*/
.btn-activity-action {
  z-index: 1;
  position: fixed;
  right: 0;
  /* top: "50%"; */
  bottom: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
/*END ACTIVTY ACTION*/

/* Dashboard */
.product-img {
  margin-left: 10px;
}
/* End Dashboard */

/* Sidemenu */
.sidebar-menu {
  white-space: normal;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse
  .sidebar-menu
  > li:hover
  > .treeview-menu {
  width: 360px;
  white-space: nowrap;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse
  .sidebar-menu
  > li:hover
  > a
  > span:not(.pull-right) {
  width: 360px;
  white-space: nowrap;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse
  .sidebar-menu
  > li:hover
  > a
  > .pull-right-container {
  left: 350px !important;
}

@media only screen and (max-width: 600px) {
  .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse
    .sidebar-menu
    > li:hover
    > .treeview-menu {
    width: auto;
    white-space: normal;
  }
  .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse
    .sidebar-menu
    > li:hover
    > a
    > span:not(.pull-right) {
    width: auto;
    white-space: normal;
  }
  .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse
    .sidebar-menu
    > li:hover
    > a
    > .pull-right-container {
    left: 0px !important;
  }
}
/* End Sidemenu */
/* STAR : TAB*/
.hide-tab {
  display: none !important;
}
/* END : TAB*/

/*START : MENU*/
/* @media (min-width: 768px) {
  .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse
    .sidebar-menu > li:hover > a > span,
  .sidebar-menu > li:hover > .treeview-menu {
    width: 220px !important;
  }
} */

/*END : MENU*/
.grid-hyperlink {
  color: #3c8dbc !important;
  text-decoration: underline !important;
}
.product-img {
  margin-left: 10px;
}

/*START : Promotion*/
@media (min-width: 992px) {
  .input-other-des {
    float: right;
  }
}
@media (max-width: 991px) {
  .input-other-des {
    width: 100%;
  }
}
/*END : Promotion*/

/*START : TPR*/
.data-header {
  white-space: inherit;
}

.ip-tpr-warning {
  border-color: 2px solid #fed03f !important;
  background-color: #fed03f !important;
  color: #212529 !important;
}
.ip-tpr-warning > .k-link {
  border-color: #fed03f !important;
  background-color: #fed03f !important;
  color: #212529 !important;
}
.ip-tpr-warning > .k-link.k-state-focused.k-state-selected {
  box-shadow: inset 0 0 0 3px #fed03f !important;
}
.ip-tpr-warning > .MuiCollapse-container .MuiCollapse-entered {
  box-shadow: inset 0 0 0 3px #fed03f !important;
}

.ip-tpr-danger {
  border-color: 2px solid #dc3545 !important;
  background-color: #dc3545 !important;
  color: #212529 !important;
}

.ip-trp-danger-btn {
  border-color: #dc3545 !important;
  color: #fff !important;
  background-color: #dc3545 !important;
}

.ip-trp-warning-btn {
  border-color: #fed03f !important;
  color: #212529 !important;
  background-color: #fed03f !important;
}

.ip-trp-success-btn {
  color: #fff !important;
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}
.nav-tabs-custom > .nav-tabs > li.ip-tpr-warning {
  border-top-color: #fed03f !important;
  background-color: #fed03f !important;
}

.nav-tabs-custom > .nav-tabs > li.ip-tpr-danger {
  border-top-color: #dc3545 !important;
}

/* #2 border */
.nav-tabs-custom > .nav-tabs > li.ip-tpr-danger.ip-tpr-warning::after {
  border-top: 4px solid #fed03f;
  background: none;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

/*END : TPR*/

/* START : TPR Approval */
.ip-grid-cell-wrap {
  white-space: pre-wrap;
}
/* END : TPR Approval */

/* Show Dropdown on Dialog*/
.k-animation-container.k-animation-container-relative.k-list-container {
  z-index: 10003;
}
/* End Dropdown on Dialog*/
/*Control label left*/
.control-label-left {
  text-align: left;
  padding-top: 7px;
  margin-bottom: 0;
}

.ip-grid-fit {
  width: fit-content;
}

.radio-padding {
  padding-bottom: 5px;
}

span:focus {
  outline: none !important;
}

.k-radio {
  margin: 0 !important;
}

.ip-dialog-h3 {
  color: white;
  font-weight: bold;
}

.ip-header-detail {
  color: white;
  font-weight: lighter;
}

.ip-font-dark {
  color: #3a3d3f !important;
}

.ip-header-h3 {
  color: #3c8dbc;
  font-weight: bold;
}
.MuiButtonBase-root.MuiAccordionSummary-root.box-header {
  background: #3c8dbc;
}

/* START : POP-Up Search */
.ip-search-popuup-ddl span.k-textbox-container {
  width: 100% !important;
}
/* END : POP-Up Search */

.small-box > .small-box-footer {
  text-align: left;
  padding-left: 1em;
}

.taskArea {
  height: 180px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: aqua;
}

.spaceTask {
  height: 180px;
  width: 15%;
  background-color: red;
}

.tab-content {
  border: none !important;
}
.MuiAccordionDetails-root {
  display: contents !important;
}
.description-block > .description-text {
  /* text-transform:none; */
  font-size: small;
}
.description-block {
  margin-top: 10px;
}

.k-command-cell,
.lockColumn {
  position: sticky;
  left: 0;
  right: 0;
  z-index: 1;
  background: #fff;
}

._loading_overlay_overlay {
  /* default speed was 500ms ease-in*/
  transition: opacity 200ms linear;
}

input[name='TypeOtherAbbreviations'] {
  text-align: center;
}
.TypeOtherAbbreviations {
  display: inline-block !important;
}
._loading_overlay_overlay {
  position: fixed;
}
.k-calendar-container {
  z-index: 10010;
}

/* Advance Payment*/
.ip-grid-center .k-grid-header .k-header {
  text-align: center;
}

.ip-input-number {
  border-radius: 0;
  text-align-last: right;
}

.ip-input-number .k-textbox,
.ip-input-number.k-textbox.k-state-invalid {
  border-color: #ced4da;
}

.ip-input-number .k-textbox:focus,
.ip-input-number.k-textbox.k-state-invalid:focus {
  border-color: #99c5de;
  box-shadow: 0 0 0 0.2rem rgb(153 197 222 / 50%);
}

.red-color .k-input,
.red-color {
  color: red !important;
}

.input-label {
  padding-top: 7px;
}

.divCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.npd-PackFormatPackSet-label label {
  width: 80%;
}
.npd-PackFormatPackSetUnitCount-span {
  float: left;
  width: 50% !important;
}

.MemoClearing .glLockColumn {
  right: 230px;
  left: 0;
}

.MemoClearing .costcenterLockColumn {
  left: 228px;
  right: 0;
}

.MemoAccrued .glLockColumn {
  right: 249px;
  left: 0;
}

.MemoAccrued .costcenterLockColumn {
  left: 249px;
  right: 0;
}

.npd-product-table td:nth-child(1) {
  width: 600px;
}
.glLockColumn {
  left: 50px;
  right: 280px;
  text-align: center !important;
  /* z-index: 1; */
}
.costcenterLockColumn {
  left: 280px;
  right: 0;
  text-align: center !important;
  /* z-index: 1; */
}

.k-radio:checked {
  color: #3c8dbc !important;
}

.requiredCell {
  color: red;
  position: absolute;
  left: -7px;
  top: -4px;
}

.glLockColumn-2 {
  left: 0px;
  right: 230px;
  text-align: center !important;
}
.costcenterLockColumn-2 {
  left: 230px;
  right: 0;
  text-align: center !important;
}

.grid-warning,
.grid-warning:hover {
  background-color: #f24252 !important;
}
/* .k-pager-numbers .k-state-selected {
  z-index: 1;
} */
/*
._loading_overlay_wrapper .lockColumn {
  z-index: 0;
}*/
/* .k-grid-header .k-header.k-grid-header-sticky,
.k-grid-header-sticky,
.k-grid-content-sticky,
.k-grid-footer .k-grid-footer-sticky {
  z-index: 1;
} */

td {
  overflow-wrap: break-word;
}

.my-alert-dialog {
  z-index: 99999;
}
.k-textbox,
.k-dropdown {
  width: 100%;
}

._loading_overlay_overlay {
  position: fixed !important;
}

.text-red input {
  color: red !important;
}

._text-customblod {
  font-weight: 700 !important;
}

.form-horizontal .control-label {
  font-size:  15px;
}
.k-grid th.k-state-selected, .k-grid td.k-state-selected, .k-grid tr.k-state-selected>{
  background-color: rgb(199 211 218) !important;
}
