.k-form {
  padding-top: 0px !important;
  font-size: 20px !important;
}
.k-form fieldset {
  border-width: 0px !important;
}
/*.k-form .row{
    margin-top: 15px !important;
  }*/
.k-form .k-textbox-container {
  width: 100% !important;
}
.k-grid-header-wrap {
  font-size: 18px !important;
  color: black !important;
  border-bottom-width: medium !important;
}
.k-button.k-primary {
  border-width: thin !important;
}
.k-button.btn-yellow-flat {
  border-color: #fed03f !important;
  border-width: thin !important;
  color: black !important;
}
.k-button.btn-red-flat {
  border-color: red !important;
  border-width: thin !important;
  color: black !important;
}
.k-button.btn-grey-flat {
  border-color: #cecece !important;
  border-width: thin !important;
  color: black !important;
}
.k-button.btn-blue-flat {
  border-color: #3f51b5 !important;
  border-width: thin !important;
  color: black !important;
}
.k-button.btn-green-flat {
  border-color: #00a65a !important;
  border-width: thin !important;
  color: black !important;
}
.k-button.btn-green {
  border-color: #00a65a !important;
  border-width: thin !important;
  color: black !important;
  background-color: #00a65a !important;
}
.k-button.btn-yellow-flat {
  border-color: #fed03f !important;
  border-width: thin !important;
  color: black !important;
}
.k-button.btn-yellow {
  border-color: #fed03f !important;
  border-width: thin !important;
  color: black !important;
  background-color: #fed03f !important;
}
.k-button.btn-red {
  border-color: #dd4b39 !important;
  border-width: thin !important;
  color: white !important;
  background-color: #dd4b39 !important;
}

.color-green {
  color: #00a65a !important;
}
.color-white {
  color: white !important;
}
.color-black {
  color: #000000 !important;
}

.k-window {
  max-width: 85% !important;
}

.text-dot {
  height: 45px;
  width: 45px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: rgb(254, 208, 63);
}
